/* Desktop: dai 769px in su */
/* @media screen and (min-width: 769px) {
    .steps{
        width: 100vh;
    }
} */

/* Tablet: dai 768px in giù */
@media screen and (max-width: 768px) {
    .container{
        width: 100%;
    }
}

/* Mobile: dai 480px in giù */
@media screen and (max-width:480px){
    .row{
        flex-wrap: wrap;
    }    
    .lessons .col,
    .steps .col,
    .why-us .col{
       width: 100%;
       margin-bottom: 36px;
    }
    .steps{
        margin-bottom: 0;
    }
    .why-us{
        background-color: black;
        margin-bottom: 0;
        padding-top: 3rem;
    }
}